.advantages {
	text-align: center;
	background-color: @lightgrey;
	color: @black;
}

.advantages__header {
	background-color: @white;
	color: @darkgrey;
	font-size: 24px;
  font-weight: 300;
}

.advantages__slogan {
  padding-top: 40px;
}

.advantages__header::after {
  content: url(../img/bg-triangle-white.svg);
  display: block;
  width: 100%;
  overflow: hidden;
  transform: rotate(180deg);
}

.advantages__list {
  .list;
	line-height: 1.71;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advantages__item {
  line-height: 1.71;
}

.advantages__title {
	font-size: 18px;
  font-weight: 700;
  
}

.advantages__discription {
	font-size: 14px;
	font-weight: 400;
}

.advantages__img {
  padding-top: 45px;
  z-index: -1;
  top: -100px;
}
