.contacts {
  min-height: 395px;
  padding-top: 50px;
  background-color: #ffffff;
  color: @bg-darkgrey;
  text-align: center;
}

.contacts a {
  display: block;
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
}

.contacts span {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.contacts__header {
  display: block;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

.contacts__wrapper {
flex-direction: row;
}

.contacts__item {
  align-items: stretch;
  justify-content: space-between;
}
