.page-header {
  background-color: @bg-darkgrey;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  text-align: left;
}

.page-header__logo-image {
  height: 23px;
  width: 74px;
}

@media (min-width: @tablet-width) {

  .page-header__logo {
    border: 2;

    width: 100%;
    height: 69px;

    background-color: @bg-darkgrey;
    background-image: url("img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -9px;
  }

  .page-header__logo img {
    display: block;
    width: 370px;
    height: auto;
    margin: 22px 0px 24px 20px;
    margin-top: 27px;
  }
}

@media (min-width: @desktop-width) {

  .page-header__logo {
    height: 648px;

    background-position: center 0;
    background-size: cover;
  }

  .page-header__logo img {
    margin-top: 27px;
  }
}
