.photos {
  background-color: #ffffff;
}

.photos__header {

}

.photos__title {
  background-image: url(/img/bg-back-mobile@1x.jpg);

  color: #fff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;

  margin: 0;
  padding-top: 101px;
  padding-right: 46px;
  padding-left: 48px;
  padding-bottom: 80px;
}

.photos__paragraph {
  padding-top: 45px;
  padding-left: 40px;
  padding-right: 39px;
  padding-bottom: 97px;
  margin: 0;

  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: @bg-darkgrey;
}

.photos__list {
}

.photos__list slider {

}

.photos__item {
  margin-top: 0;
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 25px;
  background-color: @bg-lightgrey;
  color: @bg-darkgrey;
  justify-content: center;
}

.photos__panorama-block {
  margin-left: 160px;

  position: absolute;
  margin: 0;
  display: block;
  width: 140px;
  height: 36px;
  background-color: #d22856;
}

.photos__flag {
  padding-top: 7px;
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  text-align: center;
}

.photos__img {
margin: 0;
align-items: center;
}

.photos__text {

}

.photos__element {
  font-size: 12px;
  line-height: 2;
  text-align: left;
  color: #d22856;
  text-transform: uppercase;
}

.photos__bottom-text {
  padding-bottom: 48px;
  padding-top: 49px;
  padding-left: 32px;
  padding-right: 35px;
  color: @bg-darkgrey;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
}

.photos__bottom-p {
  margin: 0;
}
