.photos {
	background-color: @white;
}

.photos__title {
	background-image: url(/img/bg-back-mobile@1x.jpg);
	color: @white;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	margin: 0;
	padding-top: 101px;
	padding-right: 46px;
	padding-left: 48px;
	padding-bottom: 80px;
}

.photos__header {}

.photos__paragraph {
	padding-top: 45px;
	padding-left: 37px;
	padding-right: 37px;
	padding-bottom: 55px;
	margin: 0;
	font-size: 14px;
	line-height: 2.14;
	text-align: center;
	color: @darkgrey;
}

.photos__list {
  .list;
}

.photos__list slider {}

.photos__item {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: @lightgrey;
	color: @darkgrey;
}

.photos__panorama-block {
	margin-left: 160px;
	position: absolute;
	display: inline-block;
	width: 140px;
	height: 36px;
	background-color: @red;
}

.photos__flag {
	padding-top: 7px;
	display: block;
	color: @white;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	line-height: 2;
	text-align: center;
}

.photos__img {
	margin: 0;
}

.photos__text {
  padding: 21px 31px 20px 17px;
}

.photos__text-time {
	font-style: normal;
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 1.71;
  text-align: left;
}

.photos__text-name {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
}

.photos__comment {
	font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  text-align: left;

}

.photos__likes {
	margin-left: 20px;
	display: flex;
    padding-top: 11px;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
}

.photos__like {
	display: inline-block;
    vertical-align: middle;
}

.photos__element {
	font-size: 12px;
	line-height: 2;
	text-align: left;
	color: @red;
	text-transform: uppercase;
	display: inline-block;
    vertical-align: middle;
}

.photos__bottom-text {
	padding-bottom: 48px;
	padding-top: 49px;
	padding-left: 32px;
	padding-right: 35px;
	color: @darkgrey;
	font-size: 14px;
	line-height: 2.14;
	text-align: center;
}

.photos__bottom-p {
	margin: 0;
}
