.review {
  display: inline-block;
  background-color: #ffffff;

}

.review__wrapper {

}

.review__item {


}

.review__text cite {
  display: block;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.67;
  text-align: center;

  padding-top: 49px;
}

.review__text p {
  padding-top: 25px;

  color: #283645;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  text-align: center;
}
