.site-list {
	height: 252px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: @darkgrey;
}

.site-list a {
	color: @white;
}

.site-list__item {
	padding-top: 27px;
}

.site-list a {
	&:hover {
		color: @red;
	}
	&:active {
	}
}
