.slider-button {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.slider-button__point {
	top: 42px;
  left: 132px;
  right: 132px;
	
    margin: 10px 0 0 7px;
    width: 15px;
	height: 15px;
  background: @darkgrey;
  border-radius: 50%;
  opacity: 0.3;
}

.slider-button__point--active {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: @darkgrey;
  opacity: 0.6;
  border: solid 3px @darkgrey;
}
