.tariff {
	background-color: @lightgrey;
}

.tariff__slider {

}

.tariff__table {
	text-align: center;
	border-collapse: collapse;
}

.tariff__header {
	display: flex;
	align-items: center;
	background-color: @darkgrey;
	color: @white;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.25;
	letter-spacing: normal;
	text-align: center;
}

.tariff__name{}

.tariff__price {}

.tariff__type {
	border: solid 2px @white;
	height: 94px;
	width: 276px;
}

.tariff__usd {
	font-weight: 300;
	width: 276px;
}

.tariff__item {
	color: @darkgrey;
	font-size: 14px;
	line-height: 2.14;
	text-align: left;
	height: 59px;
}
