.tariff {

background-color: @bg-lightgrey;
}

.tariff__wrapper {
text-align: center;
border-collapse: collapse;
}

.tariff__header {

  display: flex;
  align-items: center;
  background-color: @bg-darkgrey;
  color: #ffffff;

  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
}


.tariff__type {
  border: solid 2px;
  height: 94px;
  width: 276px;
}

.tariff__usd {
  font-weight: 300;
  width: 276px;
}

.tariff__item {
  color: @bg-darkgrey;
  font-size: 14px;
  line-height: 2.14;
  text-align: left;
  height: 59px;
}
