@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url("../source/fonts/opensans.woff"),
    url("../source/fonts/opensans.woff2");
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url("../source/fonts/opensanslight.woff"),
    url("../source/fonts/opensanslight.woff2");
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
